*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

a{
    text-decoration: none;
    color: black;
}

nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-left{
    width: 15%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-right{
    width: 30%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}